*{
  margin: 0;
  padding: 0;
}
header{
  background-image: url(../website/images/mau-background-dep.jpg);
  height:100vh;
  background-position: center;
  background-size: cover;
}


ul{
  list-style-type: none;
    float: right;
    margin-top: 15px;
    font-size: 1.25rem;
  font-family: cursive;}
ul, li{
display: inline-block;
}
ul,li,a{
  text-decoration:none ;
color: black;
padding: 5px 20px;
transition:0.5s ease;

}
ul li a:hover{
  background-color: black;
  color:rgb(128, 128, 128);}
ul li.active a{
  background-color: black;
  color:rgb(128, 128, 128);} 
}
.heading{
 position: absolute;
  margin-top: 20%;

  margin-right: 20%;
}